apiVersion: v2
name: gitlab-runner
version: 0.82.0-bb.3
appVersion: v18.5.0
description: GitLab Runner
keywords:
- git
- ci
- deploy
sources:
- https://gitlab.com/gitlab-org/charts/gitlab-runner
- https://gitlab.com/gitlab-org/gitlab-runner
- https://docs.gitlab.com/runner/
icon: https://gitlab.com/uploads/-/system/project/avatar/250833/runner_logo.png
dependencies:
  - name: gitlab-runner
    version: 0.82.0
    repository: https://charts.gitlab.io
    alias: upstream
  - name: gluon
    version: 0.9.6
    repository: oci://registry1.dso.mil/bigbang
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    - [Find our upstream chart's CHANGELOG here](https://gitlab.com/gitlab-org/charts/gitlab-runner/-/blob/v0.79.0/CHANGELOG.md)
    - [and our upstream application release notes here](https://gitlab.com/gitlab-org/charts/gitlab-runner/-/blob/v0.79.0/CHANGELOG.md?ref_type=tags#v0790-2025-07-12)
  bigbang.dev/applicationVersions: |
    - Gitlab Runner: v18.5.0
  helm.sh/images: |
    - name: gitlab-runner
      image: registry1.dso.mil/ironbank/gitlab/gitlab-runner/gitlab-runner:v18.5.0
    - name: gitlab-runner-helper
      image: registry1.dso.mil/ironbank/gitlab/gitlab-runner/gitlab-runner-helper:v18.5.0
    - name: ubi9
      image: registry1.dso.mil/ironbank/redhat/ubi/ubi9:9.6
